In [2]:
import pandas as pd

In [4]:
import mysql.connector # !pip install mysql-connector-python 
from mysql.connector import Error

try: 
    connection = mysql.connector.connect(host='', 
                                         database='',
                                         user='',
                                         password='', connection_timeout=180)

    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL database... MySQL Server version on ", db_Info)

        cursor = connection.cursor()
        connection.commit()

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    # closing database connection.
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL database... MySQL Server version on  8.0.37
MySQL connection is closed

### Ejemplo query

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query1 = """ SELECT * FROM PRODUCTO; """
cursor.execute(query1)
cursor.fetchall()

In [ ]:
df1 = pd.read_sql(query1, connection)
df1

In [5]:
df1.to_csv('producto.csv', index=False)

### Esquema de info

In [6]:
pd.set_option('display.max_columns', None, 'display.max_rows', None)

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)

esquema = pd.read_sql("SELECT * FROM INFORMATION_SCHEMA.Tables", connection)
esquema

-- 2. Obtener los nombres de todos los empleados.

In [21]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query2 = """ SELECT Nombre FROM empleado; """
cursor.execute(query2)
cursor.fetchall()

[('María Luisa Galdón Ter',),
 ('Úrsula Delta Camacho',),
 ('Luis Ramírez Pardo',),
 ('Sergio Lérida Campos',),
 ('Piedad Colmenero Zapillo',),
 ('María Sánchez Cid',),
 ('Martín Guerrero López',),
 ('Carmen Hernández Pío',),
 ('Pedro Jiménez Ruiz',),
 ('Soledad Campillo Molina',),
 ('Raúl Rodrigo Roca',)]

In [ ]:
df2 = pd.read_sql(query2, connection)
df2

In [23]:
df2.to_csv('query2.csv', index=False)

-- 3. Contar el número de  realizados.

In [25]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query3 = """ SELECT COUNT(*) AS 'Numero ' FROM pedido; """
cursor.execute(query3)
cursor.fetchall()

[(11,)]

In [ ]:
df3 = pd.read_sql(query3, connection)
df3

In [29]:
df3.to_csv('query3.csv', index=False)

-- 4. Listar los repartidores que trabajan en el turno de tarde.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query4 = """ SELECT Nombre FROM repartidor WHERE Turno = 'Tarde'; """
cursor.execute(query4)
cursor.fetchall()

In [ ]:
df4 = pd.read_sql(query4, connection)
df4

In [43]:
df4.to_csv('query4.csv', index=False)

-- 5. Encontrar el precio más alto de los productos.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query5 = """ SELECT MAX(Precio) FROM producto; """
cursor.execute(query5)
cursor.fetchall()

In [ ]:
df5 = pd.read_sql(query5, connection)
df5

In [44]:
df5.to_csv('CSVS\query5.csv', index=False)

-- 6. Mostrar todos los  con un importe mayor a 100.

In [45]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query6 = """ SELECT * FROM pedido WHERE Importe > 100.00; """
cursor.execute(query6)
cursor.fetchall()

[]

In [ ]:
df6 = pd.read_sql(query6, connection)
df6

In [47]:
df6.to_csv('CSVS\query6.csv', index=False)

-- 7. Obtener el salario promedio de los empleados.

In [48]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query7 = """ SELECT AVG(Salario) FROM empleado; """
cursor.execute(query7)
cursor.fetchall()

[(1027.272727,)]

In [ ]:
df7 = pd.read_sql(query7, connection)
df7

In [50]:
df7.to_csv('CSVS\query7.csv', index=False)

-- 8. Listar los productos que tienen un nombre único (sin duplicados).

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query8 = """ SELECT DISTINCT(Nombre) FROM producto; """
cursor.execute(query8)
cursor.fetchall()

In [ ]:
df8 = pd.read_sql(query8, connection)
df8

In [53]:
df8.to_csv('CSVS\query8.csv', index=False)

-- 9. Mostrar el número y la fecha de todos los  realizados en el último mes.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query9 = """ SELECT Numero, Fecha FROM pedido WHERE Fecha >= '2020-11-01'; """
cursor.execute(query9)
cursor.fetchall()

In [ ]:
df9 = pd.read_sql(query9, connection)
df9

In [56]:
df9.to_csv('CSVS\query9.csv', index=False)

-- 10. Encontrar el empleado con el salario más bajo.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query10 = """ SELECT Nombre, salario FROM empleado WHERE salario =(SELECT MIN(Salario) FROM empleado); """
cursor.execute(query10)
cursor.fetchall()

In [ ]:
df10 = pd.read_sql(query10, connection)
df10

In [59]:
df10.to_csv('CSVS\query10.csv', index=False)

-- 11. Listar los productos y sus componentes.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query11 = """ SELECT p.nombre, c.Codigo_P_compuesto AS Componente FROM producto p LEFT JOIN esta_compuesto c ON p.Codigo = c.Codigo_P; """
cursor.execute(query11)
cursor.fetchall()

In [ ]:
df11 = pd.read_sql(query11, connection)
df11

In [62]:
df11.to_csv('CSVS\query11.csv', index=False)

-- 12. Obtener el importe total de todos los .

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query12 = """ SELECT SUM(Importe) FROM pedido; """
cursor.execute(query12)
cursor.fetchall()

In [ ]:
df12 = pd.read_sql(query12, connection)
df12

In [68]:
df12.to_csv('CSVS\query12.csv', index=False)

-- 13. Mostrar los empleados que no son repartidores.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query13 = """ SELECT Nombre FROM empleado; """
cursor.execute(query13)
cursor.fetchall()

In [ ]:
df13 = pd.read_sql(query13, connection)
df13

In [71]:
df13.to_csv('CSVS\query13.csv', index=False)

-- 14. Listar los  junto con el nombre del empleado que tomó el pedido.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query14 = """ SELECT p.Numero, e.Nombre FROM pedido p, empleado e WHERE p.DNI_ETM = e.DNI; """
cursor.execute(query14)
cursor.fetchall()

In [ ]:
df14 = pd.read_sql(query14, connection)
df14

In [75]:
df14.to_csv('CSVS\query14.csv', index=False)

-- 15. Encontrar la cantidad total de productos en cada pedido.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query15 = """ SELECT c.cantidad, pr.Nombre, p.Numero FROM consta c, producto pr, pedido p WHERE c.Numero_P = p.Numero AND c.Codigo_Pr = pr.Codigo; """
cursor.execute(query15)
cursor.fetchall()

In [ ]:
df15 = pd.read_sql(query15, connection)
df15

In [78]:
df15.to_csv('CSVS\query15.csv', index=False)

-- 16. Obtener el nombre del repartidor y el importe de los  que ha entregado.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query16 = """ SELECT Nombre, Importe FROM repartidor r, pedido p WHERE r.DNI = p.DNI_R; """
cursor.execute(query16)
cursor.fetchall()

In [ ]:
df16 = pd.read_sql(query16, connection)
df16

In [81]:
df16.to_csv('CSVS\query16.csv', index=False)

-- 17. Listar todos los  junto con la hora en que fueron tomados y preparados.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query17 = """ SELECT Numero, Hora_tm, Hora_pre FROM pedido; """
cursor.execute(query17)
cursor.fetchall()

In [ ]:
df17 = pd.read_sql(query17, connection)
df17

In [84]:
df17.to_csv('CSVS\query17.csv', index=False)

-- 18. Mostrar el total de incentivos pagados a los repartidores.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query18 = """ SELECT SUM(Incentivo) FROM repartidor; """
cursor.execute(query18)
cursor.fetchall()

In [ ]:
df18 = pd.read_sql(query18, connection)
df18

In [87]:
df18.to_csv('CSVS\query18.csv', index=False)

-- 19. Encontrar los empleados que han tomado más de 5 .

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query19 = """ SELECT e.Nombre, COUNT(p.DNI_ETM) FROM empleado e, pedido p WHERE e.DNI = p.DNI_ETM GROUP BY e.Nombre HAVING COUNT(p.DNI_ETM) > 5; """
cursor.execute(query19)
cursor.fetchall()

In [ ]:
df19 = pd.read_sql(query19, connection)
df19

In [14]:
df19.to_csv('CSVS\query19.csv', index=False)

-- 20. Listar todos los  junto con el nombre del empleado que los preparó.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query20 = """ SELECT Numero, Nombre FROM pedido p, empleado e WHERE p.DNI_EP = e.DNI; """
cursor.execute(query20)
cursor.fetchall()

In [ ]:
df20 = pd.read_sql(query20, connection)
df20

In [90]:
df20.to_csv('CSVS\query20.csv', index=False)

-- 21. Mostrar los productos cuyo precio es mayor que el precio promedio de todos los productos.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query21 = """ SELECT Nombre, Precio FROM producto WHERE Precio >(SELECT AVG(Precio) FROM producto); """
cursor.execute(query21)
cursor.fetchall()

In [ ]:
df21 = pd.read_sql(query21, connection)
df21

In [93]:
df21.to_csv('CSVS\query21.csv', index=False)

-- 22. Listar los empleados y repartidores con el mismo turno.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query22 = """ SELECT e.Nombre, r.Nombre, e.Turno, r.Turno FROM empleado e, repartidor r WHERE e.Turno = r.Turno; """
cursor.execute(query22)
cursor.fetchall()

In [ ]:
df22 = pd.read_sql(query22, connection)
df22

In [116]:
df22.to_csv('CSVS\query22.csv', index=False)

-- 23. Obtener los  junto con el nombre del empleado que los tomó y el nombre del repartidor que los entregó.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query23 = """ SELECT p.Numero, e.Nombre AS Empleado, r.Nombre AS Repartidor FROM pedido p, empleado e, repartidor r WHERE p.DNI_R = r.DNI AND p.DNI_ETM = e.DNI; """
cursor.execute(query23)
cursor.fetchall()

In [ ]:
df23 = pd.read_sql(query23, connection)
df23

In [96]:
df23.to_csv('CSVS\query23.csv', index=False)

-- 24. Mostrar los nombres de los productos en mayúsculas.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query24 = """ SELECT UPPER(Nombre) FROM producto; """
cursor.execute(query24)
cursor.fetchall()

In [ ]:
df24 = pd.read_sql(query24, connection)
df24

In [99]:
df24.to_csv('CSVS\query24.csv', index=False)

-- 25. Obtener el número de  y el total del importe para cada repartidor.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query25 = """ SELECT r.Nombre, COUNT(p.Numero) AS 'Nº ', SUM(p.Importe) AS 'Importe total' FROM repartidor r, pedido p WHERE r.DNI = p.DNI_R group by r.Nombre; """
cursor.execute(query25)
cursor.fetchall()

In [ ]:
df25 = pd.read_sql(query25, connection)
df25

In [119]:
df25.to_csv('CSVS\query25.csv', index=False)

-- 26. Mostrar los  realizados en el año 2023.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query26 = """ SELECT * FROM pedido WHERE YEAR(Fecha) = 2023; """
cursor.execute(query26)
cursor.fetchall()

In [ ]:
df26 = pd.read_sql(query26, connection)
df26

In [104]:
df26.to_csv('CSVS\query26.csv', index=False)

-- 27. Listar los repartidores que han entregado  en la última semana.

In [9]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query27 = """ SELECT r.Nombre FROM repartidor r, pedido p WHERE r.DNI = p.DNI_R AND p.Fecha >= DATE_SUB(CURDATE(), INTERVAL 1 WEEK); """
cursor.execute(query27)
cursor.fetchall()

[]

In [ ]:
df27 = pd.read_sql(query27, connection)
df27

In [11]:
df27.to_csv('CSVS\query27.csv', index=False)

-- 28. Obtener la diferencia en días entre la fecha del pedido y la fecha actual para todos los .

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query28 = """ SELECT Numero, DATEDIFF(CURDATE(), Fecha) AS 'Dias de diferencia' FROM PEDIDO; """
cursor.execute(query28)
cursor.fetchall()

In [ ]:
df28 = pd.read_sql(query28, connection)
df28

In [8]:
df28.to_csv('CSVS\query28.csv', index=False)

-- 29. Listar los empleados que trabajan en el turno de mañana y tienen un salario mayor a 2000.

In [120]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query29 = """ SELECT * FROM empleado WHERE Turno = 'mañana' AND Salario > 2000; """
cursor.execute(query29)
cursor.fetchall()

[]

In [ ]:
df29 = pd.read_sql(query29, connection)
df29

In [122]:
df29.to_csv('CSVS\query29.csv', index=False)

-- 30. Mostrar los productos y su precio con un incremento del 10%. TENER EN CUENTA AVISO EN SQL!!

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query30 = """ SELECT Nombre, Precio + (Precio * 0.1) FROM producto ; """
cursor.execute(query30)
cursor.fetchall()

In [ ]:
df30 = pd.read_sql(query30, connection)
df30

In [125]:
df30.to_csv('CSVS\query30.csv', index=False)

-- 31. Obtener los  cuyo importe es el mayor entre todos los .

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query31 = """ SELECT * FROM pedido WHERE Importe = (SELECT MAX(Importe) FROM pedido); """
cursor.execute(query31)
cursor.fetchall()

In [ ]:
df31 = pd.read_sql(query31, connection)
df31

In [107]:
df31.to_csv('CSVS\query31.csv', index=False)

-- 32. Listar los empleados que no han tomado ningún pedido.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query32 = """ SELECT e.Nombre, e.DNI FROM empleado e LEFT JOIN pedido p ON e.DNI = p.DNI_ETM WHERE p.DNI_ETM IS NULL; """
cursor.execute(query32)
cursor.fetchall()

In [ ]:
df32 = pd.read_sql(query32, connection)
df32

In [128]:
df32.to_csv('CSVS\query32.csv', index=False)

-- 33. Mostrar el nombre del repartidor y la fecha del pedido para los  entregados en el turno de noche.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query33 = """ SELECT r.Nombre, p.Fecha FROM repartidor r, pedido p WHERE r.DNI = p.DNI_R AND r.Turno = 'noche'; """
cursor.execute(query33)
cursor.fetchall()

In [ ]:
df33 = pd.read_sql(query33, connection)
df33

In [131]:
df33.to_csv('CSVS\query33.csv', index=False)

-- 34. Obtener el nombre del producto más caro y su precio.

In [ ]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query34 = """ SELECT Nombre, Precio FROM producto WHERE Precio = (SELECT MAX(Precio) FROM producto); """
cursor.execute(query34)
cursor.fetchall()

In [ ]:
df34 = pd.read_sql(query34, connection)
df34

In [110]:
df34.to_csv('CSVS\query34.csv', index=False)

-- 35. Mostrar el nombre del empleado y el importe total de los  que ha tomado.ERROR!!!

In [111]:
connection = mysql.connector.connect(host='', database='', user='', password='', connection_timeout=180000)
cursor=connection.cursor()
query35 = """ SELECT e.Nombre, p.importe FROM empleado e, pedido p WHERE p.DNI_ETM = e.DNI and p.importe = (SELECT SUM(importe) FROM pedido);  """
cursor.execute(query35)
cursor.fetchall()

[]

In [ ]:
df35 = pd.read_sql(query35, connection)
df35

In [113]:
df35.to_csv('CSVS\query35.csv', index=False)